 body {margin:0}
 ._5h0c{background-color:#4267b2;color:#fff;cursor:pointer;display:inline-block;vertical-align:top;}
._5h0c._5h0d{border-radius:4px; }
 
   
._5h0c ._5h0k{float:left;}

 ._5h0d ._5h0k{height:24px;margin:8px;}

 ._5h0h ._5h0l,._5h0h ._5h0m,._5h0d ._5h0l,._5h0d ._5h0m{height:24px;width:24px;}
  
  ._5h0o{border:none;font-family:Helvetica, Arial, sans-serif;letter-spacing:.25px;overflow:hidden;text-align:center;text-overflow:clip;white-space:nowrap}
 
 ._xvm ._5h0d ._5h0o{margin:0 24px 0 12px}
 